body {
    background-color: white;
    margin: 10px 15px 10px 15px;
}
.main {
    
}
.social-media {
    font-family: sans-serif;
    top: 50px;
    right: 15px;
    text-align: end;
}
.address {
    font-size: 18px;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 20px;
}
.logo {
    height: auto
    position: absolute;
    top: 20px;
    left: 15px;
    height: 100px;
    width: 425px;
}

.main-text {
    font-family: cursive;
    text-align: center;
    font-size: 50px;
    background-color: darkgrey;
}